build/
install/
log/
.vscode/
.venv/
Ros2 videos/

#remove all __pycache__ folders
**/__pycache__/
*.pyc
*.pyo
*.pyd
*/__pycache__/

src/amps_python/amps_python/__pycache__
src/amps_python/amps_python/__pycache__/__init__.cpython-312.pyc
